* {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

.page{
  position: relative;
  min-width: 1180px;
}

.main-container{
  position: relative;
}

.req-list {
  float: left;
  min-width: 470px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin: 0 auto;

  .req-row{
    min-width: 360px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.left-list{
  width: 40%;
  .req-row{
    width: 35%;
  }
}

.full-list{
  width: 99%;
  .req-row{
    width: 95%;
  }
}

.req-detail {
  position: absolute;
  width: 60%;
  right: 0;
  overflow: auto;
  padding: 0 15px 15px;
}

.req-detail-close{
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 0;
}

.box {
  word-break: break-all;
  padding: 10px;
  border: 1px solid #ddd;
}

.p-lr-10{
  padding: 0 10px;
}

.p-l-50{
  padding-left: 50px;
}

.toolbar {
  height: 30px;
  margin: 10px 0;
}

.form-group{margin: 0}

.btn-group{
  margin-right: 10px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}